body{
    font-family: 'Oxygen', sans-serif;
    max-width: 100%;
    height: 100vh !important;
    overflow: hidden;
}

.spin-load {
    height: 5rem;
    width: 5rem;
    font-size: 200%;
    color: green;
}